.full { position:absolute!important; left:0; right:0; top:0; bottom:0; overflow:hidden }
#touchShadow { background:rgba(0,0,0,0.64) }
.sideMenu { background:#F8FAFE; height:100%; width:100%; position:relative }
#hideMenu { position:absolute; top:0; bottom:0; left:0; right:0; overflow:hidden; cursor:pointer }
#hideMenu.hide { display:none }
#pane #hideMenu       { z-index:3000 }
.hasTransition .noTransition {
  -webkit-transition:-webkit-transform 0s, opacity 0s;
  -moz-transition:-moz-transform 0s, opacity 0s;
  -ms-transition:-ms-transform 0s, opacity 0s;
  transition:transform 0s, opacity 0s;
}
#touchShadow { background:rgba(0,0,0,0.64) }