# common local files
.DS_Store
log

# application data
/packages/*
/extracted/*
/skel/*
/bower_components/*
bower_components/*
/node_modules/*
node_modules/*
/vendor/*
vendor/*

/node_modules/*
node_modules/*