@media screen {

    * {
        padding: 0;
        margin: 0;
    }

    html {
        font-family: sans-serif;
    }

    body {
        font-size: 14px;
        color: #000;
        -webkit-font-smoothing: antialiased;
    }

    [data-region="body"] {
        margin-top: 59px;
        /*margin-bottom: 50px;*/
        padding: 0 10px;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
}

hr.progressBar {
    border: none;
    width: 0;
    margin-top: 53px;
}

hr.progressBar.active {
    border: 1px solid red;
}

.xin-pane {height: 100%}

[data-region="body"].loading {
    background: url('../img/loading.gif') no-repeat center;
}